/MoneyManager.Business/bin
/MoneyManager.DataAccess/bin
/MoneyManager.DataAccess/obj
/MoneyManager.Business/obj
/MoneyManager.Models/bin
/MoneyManager.Models/obj
/MoneyManager.Web/bin
/MoneyManager.Web/obj
/MoneyManager.WebApi/bin
/MoneyManager.WebApi/obj
/packages
/MoneyManager.Auth/bin/Debug
/MoneyManager.Auth/obj/Debug
/MoneyManager.Auth/Properties
/MoneyManager.Web/node_modules
/MoneyManager.Web/dist/budget.entry.js
/MoneyManager.Web/dist/auth.entry.js
/MoneyManager.Web/dist/shared.entry.js
/MoneyManager.Web/dist/login.entry.js
/MoneyManager.Web/dist/income.entry.js
/MoneyManager.Web/dist/home.entry.js
/MoneyManager.Web/dist/expense.entry.js
/MoneyManager.Web/dist/category.entry.js
/MoneyManager.Web/dist/calendar.entry.js
