@font-face {
  font-family: 'MyWebFont';
  src:  url('../../fonts/proximasansregular.ttf') format('truetype')
}

html {
    padding: 0;
    height: 100% !important;
}

body {
    margin: 0;
    position: relative;
    height: auto;
    min-height: 100% !important;
    font-family: 'MyWebFont', Fallback, serif !important;
    font-weight:normal;
    font-style:normal
}

.display-table{
    display: table;
    box-sizing: border-box;
}

.display-table-cell{
    display: table-cell;
}

.display-table-row{
    display: table-row;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.stretched{
    width: 100%;
    height: 100%;
}

.no-padding{
    padding: 0 !important;
}

ul{
    list-style-type: none;
}

.mid-font{
    font-size: 18px !important;
}

.small-font{
    font-size: 16px !important;
}

.large-font{
    font-size: 24px !important;
}

.semi-bold {
    font-weight: 600;
    font-style: normal;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.cursor-hand{
    cursor: pointer;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}