.container{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: solid 1px #d5d6d7;
}

div.title-bar{
    background-color: white;
    padding-top: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    color: #09c1f3;
    font: 26px arial;
    height: 58px;
}

span.title-bar{
    padding-left: 60px;
    padding-right: 60px;
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 21px 21px;
}

.period-container{
    background-image: url('../../icons/icon-calendar.png');
    background-position: 0, center;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding-left: 40px;
    color: #606472;
    vertical-align: middle;
}

.period-container:hover{
    cursor: pointer;
}

span.title-bar-expense{
    background-image: url('../../icons/icon-espensesTitle.png');
}

span.title-bar-category{
    background-image: url('../../icons/icon-tagsTitle.png');
}

.widget{
    border: solid 1px #d5d6d7;
    margin: 20px;
    border-radius: 5;
    background-color: white;
    box-sizing: border-box;
    height: auto;
    max-height: 300px;
}

.panel-heading{
    font-weight: bold;
    padding: 0 !important;
    padding-left: 10px !important;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.panel-footer{
    background-color: white; 
    border-width: 0;
}

#customPeriodOptions > li{
    margin-top: 0;
    width: 43%;
}

ul.horizontal-list> li{
    float: left;
}

ul.horizontal-list,
ul.list{
    list-style:none;
    padding-left:0;
    width: 100%;
    margin: 0;
    vertical-align: middle;
}

ul.list > li.list-item{
    height: 50px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
    background-color: white;
    margin: 10px 10px 10px 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 2px powderblue;
}

.btn-transparent{
    border-width: 0 !important; 
    float: right; 
    height: 100%;
    background-color: transparent !important;
}

.btn-transparent:hover{
    border: solid 1px grey;
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px;
}

button.picker-button{
    font-size: 0.8vw !important;
    font-size: 18px;
    padding: 0 3px 0 3px;
    height: 30px;
    white-space: nowrap;
}

button.small-font{
    font-size: 0.5vw !important;
}

.btn.selected{
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    font-size: 0.8vw;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-background {
    width: 100%;
    height: 100%;
    margin:0 auto;
    position: absolute;
    background:rgba(0,0,0,0.4);
    left: 0;
    top:0;
}

.modal-content {
  overflow: auto;
  margin: 0 auto;
  position: relative;
  left: 0; bottom: 0; right: 0;
  background-color: white;
  top: 30%;
}

.loading-panel{
    position: absolute;
    width:100%;
    height: 100%;
    display: block;
    overflow:auto;
    opacity: 0.4;
    z-index: 100;
}

.loading-panel-black{
    background-color: black;
}

.loading-panel img{
  overflow: auto;
  margin: 0 auto;
  position: absolute;
  top: 40%; left: 0; bottom: 0; right: 0;
  background-color: transparent;
}

.ntd-label{
    text-align: center;
    font-size: 25px;
    width: 98%;
    height: 98%;
}

p.nothing-label {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #09c1f3;
  font-size: 22px;
}

span.loading{
    background-image: url(../../icons/loading1.gif);
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

#categories > button{
    margin-right: 20px;
}

#categories .btn.full-width{
    margin-top: 10px;
}

#categories .display-table{
    table-layout: fixed;
    border-spacing: 20px;
}

#categories div.panel-heading{
    height: 50px;
    background-color: powderblue;
}

#categories div.panel-body{
    height: 280px;
    overflow: auto;
}

#categories div.panel-body:before{
    display: inline;
}

#categories div.panel-body:after{
    display: inline;
}

#categories div.panel-footer{
    background-color: white; 
    border-width: 0; 
    height: 50px;
}

#categories div.panel-footer button{
    float: right; 
    margin-bottom: 15px;
}

p.summary-label{
    font-size: 13px;
    color: #606472;
    margin-bottom: 0 !important;
}

p.summary-value{
    font-size: 20px;
}

p.expense-value{
    color: #e64b30;
}

p.income-value{
    color: #2bbe3b;
}

#expenseCategories .col-md-2{
    padding-left: 5px;
    padding-right: 5px;
}

#expenseCategories .btn{
    width: 100%;
}

.totals-bar {
    height: 80px;
    text-align: center;
    font-family: inherit;
}

#expenseGrid .ag-header {
    background: inherit;
    background-color: white;
    border-bottom: 0;
}

#expenseGrid .ag-root,
#expenseGrid .ag-fresh,
#expenseGrid .ag-header-cell,
#expenseGrid .ag-cell{
    border: 0;
    border-top: solid 1px darkgray;
}

#expenseGrid .ag-header-cell{
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    padding-top: 5px;
    vertical-align: middle;
}

#expenseGrid .ag-header-row,
#expenseGrid .ag-header-cell,
#expenseGrid .ag-header{
    height: 60px !important;
}

.ag-body{
    padding-top: 60px !important;
}

.ag-row-odd{
    background-color: white !important;
}

tr.grid-row-expanded{
    background-color: #fafafa;
}

div.grid-buttons{
    padding-top: 10px; 
    padding-bottom: 10px; 
    float: right; 
    margin-right: 60px
}

tr.grid-row{
    border-top: solid 1px #ddd; 
    color: #4c4c4c;
    height: 40px;
}

tr.grid-row td
tr.grid-row th{
    padding-right: 25px;
}

tr.grid-header{
    line-height: 50px; 
    height: 50px; 
    vertical-align: middle; 
    font-weight:bolder !important;
    background-color: #FAFAFA;
}

div.check-box{
    text-align: center; 
    line-height: 20px; 
    vertical-align: middle;
    width: 20px; 
    height: 20px; 
    border: solid 1px #ddd;
    color: #0094ff; 
    float: left
}

button.grid-btn{
    background-color: gray;
    border-radius: 0 !important;
    color: whitesmoke;
    height: 32px;
    min-width: 150px;
    border: solid 1px gray;
    font-weight: normal;
    margin-left: 20px;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 16px;
}

button.grid-btn-edit{
    background-image: url('../../icons/edit.png');
}

button.grid-btn-split{
    background-image: url('../../icons/split.png');
}

button.grid-btn-repeat{
    background-image: url('../../icons/repeat.png');
}

button.grid-btn-disabled{
    background-color: #FAFAFA;
    color: #DFDFDF;

}

button.grid-btn-delete{
    background-color: #d14040;
    background-color: #ec6552;
    background-image: url('../../icons/delete.png');
}

button.grid-btn-delete:hover {
    background-color: #d14040 !important;
}

button.grid-btn:hover {
    background-color: #282E33;
}

.title-label{
    font-weight: bold;
    font-size: 16px;
    color: black;
}

#transactions-header{
    padding-left: 15px;
}

.expense{
    color: #f17878;
}

.income{
    color: #239f27;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#transactions{
    min-height: 400px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-weight:bold; 
    color: #7c7c7c;
    position: relative;
}

#transactions-grid{
    font-size: 15px; 
    table-layout: fixed;
}

#transactions-grid-buttons{
    float: right; 
    margin-right: 60px;
}

.chart-legend-custom{
    margin-top: 20px;
    padding: 10px; 
    font-size: 18px;
}

.chart-legend-custom tr > td:nth-child(3){
    color: #7c7c7c;
}

.chart-legend-custom a{
    color: black;
    cursor: pointer;
}

.chart-legend-custom a.selected{
    color: #f17878;
    font-weight: bold;
}

.chart-legend-custom tr > td{
    margin-top: 12px; 
    padding-right: 10px;
    overflow: hidden; 
    /*white-space: nowrap;*/
}

.chart-legend-custom tr > td div{
    display: inline-block; 
    height: 12px; 
    width: 12px; 
    border-radius: 15px; 
    margin-right: 5px;
}

.chart-total{
    font-size: 18px;
    position: absolute; 
    left: 70px; top: 120px; 
    width:150px; 
    text-align: center;
}






