<div class="container-fluid full-height">
    <div class="row" style="height: 100px; text-align: center; padding-top: 10px">
        <div class="col-xs-3 col-md-3">
            <p class="summary-label">TODAY:</p>
            <p class="summary-value expense-value">70,052.50</p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label">THIS WEEK:</p>
            <p class="summary-value expense-value">70,052.50</p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label">THIS MONTH:</p>
            <p class="summary-value expense-value">70,052.50</p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label">THIS YEAR:</p>
            <p class="summary-value expense-value">70,052.50</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="bar" class="chart chart-doughnut" height="350" width="350"
                                chart-data="data" chart-labels="labels" chart-options="options"
                                chart-series="series" style="padding: 25px"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div style="background-color: red">
                            I'm a legend
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <canvas id="bar" class="chart chart-doughnut" height="350" width="350"
                                chart-data="data" chart-labels="labels" chart-options="options"
                                chart-series="series" style="padding: 25px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <canvas  height="250" width="250" id="bar" class="chart chart-doughnut"
                        chart-data="data" chart-labels="labels" chart-options="options"
                        chart-series="series"></canvas>
            </div>
        </div>
    </div>
</div>


<!--<div class="display-table full-height full-width" style="table-layout: fixed; ">
    <div class="display-table-row" style="">
        <div class="display-table-cell" style="">
            <div class="display-table full-height full-width" style="table-layout: fixed; padding: 45px">
                <div class="display-table-row" style="">
                    <div class="display-table-cell" style="">
                        <canvas id="bar" class="chart chart-doughnut full-height full-width"
                                chart-data="data" chart-labels="labels"
                            chart-series="series">
                        </canvas>
                    </div>
                </div>
                    <div class="display-table-row">
                        <div class="display-table-cell">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="data1" chart-labels="labels1"
                                    chart-series="series1"></canvas>
                        </div>
                    </div>
                </div>
        </div>
        <div class="display-table-cell">
            <canvas id="bar" class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels"
                chart-series="series" style="vertical-align: middle;">
            </canvas>
        </div>
    </div>
</div>-->



