<div class="container-fluid full-height">
    <div id="expenseSummary" class="row">
        <div class="col-xs-3 col-md-3">
            <p class="summary-label semi-bold">TODAY:</p>
            <p class="summary-value expense-value" ng-cloak>
                {{(totals.Today | currency : '') + " PLN"}}
            </p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label semi-bold">THIS WEEK:</p>
            <p class="summary-value expense-value" ng-cloak>
                {{(totals.CurrentWeek | currency : '') + " PLN"}}
            </p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label semi-bold">THIS MONTH:</p>
            <p class="summary-value expense-value" ng-cloak>
                {{(totals.CurrentMonth | currency : '') + " PLN"}}
            </p>
        </div>
        <div class="col-xs-3 col-md-3">
            <p class="summary-label semi-bold">THIS YEAR:</p>
            <p class="summary-value expense-value" ng-cloak>
                {{(totals.CurrentYear | currency : '') + " PLN"}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="bar" class="chart chart-doughnut" height="400" width="400"
                                chart-data="data" chart-labels="labels" chart-options="options"
                                chart-series="series" style="padding: 25px"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div style="background-color: red">
                            I'm a legend
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <canvas height="400" width="400" id="bar" class="chart chart-doughnut"
                        chart-data="data" chart-labels="labels" chart-options="options" style="padding: 25px"
                        chart-series="series"></canvas>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="padding: 20px">
        <table style="table-layout: fixed" class="full-width">
            <tr style="border-top: solid 1px #d5d6d7; line-height: 50px; height: 50px; font-size: 17px; vertical-align: middle; font-weight: bold">
                <th style="width: 150px">DATE</th>
                <th style="width: 100px">AMOUNT</th>
                <th style="width: 70%">DESCRIPTION</th>
                <th style="width: 30%">CATEGORY</th>
                <th style="width: 150px" />
            </tr>
            <tr ng-repeat="expense in expenses" style="border-top: solid 1px darkgray">
                <td>{{ expense.Date }}</td>
                <td>{{ expense.Amount }}</td>
                <td>{{ expense.Description }}</td>
                <td>{{ expense.Category }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>


