<div class="container-fluid full-height">
    <div class="totals-bar row">
        <div class="col-xs-3 col-md-3 no-padding">
            <totals-label label="TODAY:" value="totals.Today" is-loading="loadingTotals" type="'expense'"></totals-label>
        </div>
        <div class="col-xs-3 col-md-3 no-padding">
            <totals-label label="THIS WEEK:" value="totals.CurrentWeek" is-loading="loadingTotals" type="'expense'"></totals-label>
        </div>
        <div class="col-xs-3 col-md-3 no-padding">
            <totals-label label="THIS MONTH:" value="totals.CurrentMonth" is-loading="loadingTotals" type="'expense'"></totals-label>
        </div>
        <div class="col-xs-3 col-md-3 no-padding">
            <totals-label label="THIS YEAR:" value="totals.CurrentYear" is-loading="loadingTotals" type="'expense'"></totals-label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="min-width: 550px">
            <nothing-to-display ng-show="chart1.noData"></nothing-to-display>
            <loading-panel is-loading="chart1.isLoading" width="50" height="50"></loading-panel>
            <div class="panel panel-default"s>
                <div class="row" style="min-height: 300px">
                    <div style="margin-left: 20px" class="panel-heading panel-title">EXPENSES BY CATEGORIES</div>
                    <div class="col-sm-5">
                        <canvas ng-hide="chart1.noData" id="bar" class="chart chart-doughnut" height="260" width="260"
                                chart-data="chart1.data" chart-labels="chart1.labels" chart-options="chartOptions"
                                chart-colors="chart1.colors" style="padding: 25px"></canvas>
                        <span ng-hide="chart1.noData" class="chart-total semi-bold expense">{{chart1.total | number:2}}</span>
                    </div>
                    <div class="col-sm-7">
                        <div class="chart-legend-custom">
                            <table style="table-layout: fixed">
                                <tr ng-repeat="item in chart1.legendItems">
                                    <td><div ng-style="{'background-color': item.color}"/></td>
                                    <td><a ng-class="{'selected': detailsChartCategoryId == item.categoryId}" ng-click="showDetailsChart(item)">{{item.label}}</a></td>
                                    <td class="align-right semi-bold">{{item.percent | percentage:2}}</td>
                                    <td class="align-right semi-bold expense">{{item.amount | number:2}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="min-width: 550px">
            <nothing-to-display ng-show="chart2.noData"></nothing-to-display>
            <loading-panel is-loading="chart2.isLoading" width="50" height="50"></loading-panel>
            <div class="panel panel-default">
                <div class="row" style="min-height: 300px">
                    <div style="margin-left: 20px" class="panel-heading panel-title">{{detailsChartCategoryName}}</div>
                    <div class="col-sm-5">
                        <canvas ng-hide="chart2.noData" id="bar" class="chart chart-doughnut" height="260" width="260"
                                chart-data="chart2.data" chart-labels="chart2.labels" chart-options="chartOptions"
                                chart-colors="chart2.colors" style="padding: 25px"></canvas>
                        <span ng-hide="chart2.noData" class="chart-total semi-bold expense">{{chart2.total | number:2}}</span>
                    </div>
                    <div class="col-sm-7">
                        <div class="chart-legend-custom">
                            <table style="table-layout: fixed">
                                <tr ng-repeat="item in chart2.legendItems">
                                    <td><div ng-style="{'background-color': item.color}" /></td>
                                    <td>{{item.label}}</td>
                                    <td class="align-right semi-bold">{{item.percent | percentage:2}}</td>
                                    <td class="align-right semi-bold expense">{{item.amount | number:2}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="transactions" class="panel panel-default">
        <grid options="gridOptions" is-loading="loadingExpenses" source="expenses" sorted-by="expenseParams" 
              filter-items="categoryFilterItems" filter-label="'Filter By Categories:'" on-sort="sort(e)" load-next-items="loadNextExpenses(e)"></grid>
    </div>
</div>


