<div id="editExpense">
    <div class="modal-header">
        <h3 class="modal-title">ADD EXPENSE</h3>
        {{ model.Date | date:'fullDate'}}
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form name="expenseForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input class="form-control" type="number" name="amount" id="amount" ng-model="model.Amount" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="amount">Date:</label>
                            <p class="input-group">
                                <input type="text" id="date" name="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.Date" is-open="pickerPopup.opened" 
                                       datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="amount">Comment:</label>
                            <input class="form-control" name="comment" id="comment" ng-model="model.Comment"/>
                        </div>
                    </div>
                </div>
                <label>Category:</label>
                <div id="expenseCategories" class="container-fluid">
                    <div class="row">
                        <div class="col-md-2" ng-repeat="category in topCategories">
                            <button type="button" class="btn btn-primary" ng-class="{selected: isSelected(category.Id)}" ng-click="selectCategory(category.Id)">
                                <span ng-show="isSelected(category.Id)" style="float: left" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {{category.Name}}
                            </button>
                        </div>
                        <div class="col-md-2 btn-group" uib-dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" ng-class="{selected: isOtherCategorySelected}" ng-click="categoryPopup()">
                                {{ categoryToggleBtnText }}
                                <span ng-show="isOtherCategorySelected" style="float: left" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span ng-hide="loadingCategories" class="caret" style="float: right; margin-top: 10px"></span>
                                <img ng-show="loadingCategories" src="../../../icons/loading1.gif" width="20" height="20" style="float: right"/>
                            </button>
                        </div>
                    </div>
                </div>
                <input name="category" type="hidden" required ng-model="model.CategoryId" />
                <br/>
                <div ng-messages="expenseForm.amount.$error" ng-if="expenseForm.amount.$dirty" >
                    <div class="alert alert-warning" role="alert" ng-message="required">Please enter an amount</div>
                </div>
                <div ng-messages="expenseForm.date.$error" ng-if="expenseForm.date.$dirty" style="color:maroon" role="alert">
                    <div class="alert alert-warning" role="alert" ng-message="required">Please enter a valid date</div>
                </div>
                <div ng-messages="expenseForm.category.$error" ng-if="expenseForm.category.$dirty" style="color:maroon" role="alert">
                    <div class="alert alert-warning" role="alert" ng-message="required">Please select category</div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Ok</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>