<div id="editIncome">
    <div class="modal-header">
        <h3 class="modal-title">{{label}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form name="incomeForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': incomeForm.amount.$invalid && incomeForm.amount.$dirty}">
                            <label for="amount">Amount:</label>
                            <input class="form-control" type="number" name="amount" id="amount" ng-model="model.Amount" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': incomeForm.date.$invalid && incomeForm.date.$dirty}">
                            <label for="date">Date:</label>
                            <p class="input-group">
                                <input type="text" id="date" name="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.Date" is-open="pickerPopup.opened" 
                                       datepicker-options="dateOptions" show-button-bar="false" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="amount">Comment:</label>
                            <input class="form-control" name="comment" id="comment" ng-model="model.Comment"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': incomeForm.category.$invalid && incomeForm.category.$dirty}">
                            <label for="category">Category:</label>
                            <select class="form-control" name="category" ng-options="c.Id as c.Name for c in categories" ng-model="model.CategoryId" required/>
                        </div>
                    </div>
                </div>
                <br/>
                <div ng-messages="incomeForm.amount.$error" ng-if="incomeForm.amount.$dirty" >
                    <div class="alert alert-warning" role="alert" ng-message="required">Please enter an amount</div>
                </div>
                <div ng-messages="incomeForm.date.$error" ng-if="incomeForm.date.$dirty" style="color:maroon" role="alert">
                    <div class="alert alert-warning" role="alert" ng-message="required">Please enter a valid date</div>
                </div>
                <div ng-messages="incomeForm.category.$error" ng-if="incomeForm.category.$dirty" style="color:maroon" role="alert">
                    <div class="alert alert-warning" role="alert" ng-message="required">Please select category</div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Ok</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>